.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 30px;

}
.btn{
    padding: 8px;
    border: 2px solid;
    border-radius: 6px;
    background-color: azure;
    font-size: 30px;
margin: 5px;
margin-top: 5px;

}
.b{
    display: flex;
}